<mat-card>
  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="TABLES">
      <mat-form-field appearance="outline" style="font-size: 0.8em">
        <mat-label>Search table</mat-label>
        <input matInput (keyup)="applyFilter($event.target.value, 'tables')" placeholder="Filter">
      </mat-form-field>
      
        <table mat-table [dataSource]="tablesDataSource">
          <ng-container matColumnDef="number">
            <th mat-header-cell *matHeaderCellDef> TABLE NUMBER </th>
            <td mat-cell *matCellDef="let row" style="font-weight: bold; text-transform: uppercase"> Table #{{row.number}} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef [style.width.px]="200">
              <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end none">
                <button mat-raised-button color="accent" (click)="onAdd('table')">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </th>
            <td mat-cell *matCellDef="let row" [style.width.px]="200">
                <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end none">
                    <button mat-stroked-button color="warn" (click)="onDelete(row,'table')">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
            </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="tablesDisplayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: tablesDisplayedColumns;">
          </tr>
        </table>
      
        <mat-paginator #tablesPaginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10"></mat-paginator>
    </mat-tab>
    <mat-tab label="DISHES">
        <mat-form-field appearance="outline" style="font-size: 0.8em">
            <mat-label>Search dish</mat-label>
            <input matInput (keyup)="applyFilter($event.target.value, 'dishes')" placeholder="Filter">
          </mat-form-field>
      <table mat-table [dataSource]="dishesDataSource">
      
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> NAME </th>
          <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>
    
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> TYPE </th>
          <td mat-cell *matCellDef="let row"> {{row.type}} </td>
        </ng-container>
    
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> DESCRIPTION </th>
          <td mat-cell *matCellDef="let row"> {{row.description}} </td>
        </ng-container>

        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> PRICE </th>
            <td mat-cell *matCellDef="let row"> {{row.price | currency}} </td>
          </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef [style.width.px]="200">
            <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end none">
              <button mat-raised-button color="accent" (click)="onAdd('dish')">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" [style.width.px]="200">
              <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end none" *ngIf="showRowButtons && showButtonsRowId === row._id">
                  <button mat-stroked-button (click)="onEdit(row, 'dish')">
                    <mat-icon>edit</mat-icon>
                    EDIT
                  </button>
        
                  <button mat-stroked-button color="warn" (click)="onDelete(row,'dish')">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="dishesDisplayedColumns"></tr>
        <tr mat-row (mouseover)="showRowButtons = true ; showButtonsRowId = row._id" (mouseleave)="showRowButtons = false; showButtonsRowId = null" *matRowDef="let row; columns: dishesDisplayedColumns;">
        </tr>
      </table>
      <mat-paginator #dishesPaginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10"></mat-paginator>
    </mat-tab>
  </mat-tab-group>
</mat-card>