.table-card {
    margin:5px;
    border-radius:50%;
    overflow: hidden;
    height: 200px;
    width: 200px;
    margin-right: 15px;
    padding:0!important;
    cursor: pointer;
    &:hover {
       filter: brightness(90%)!important;
    }
    *:not(.update-btn) {
        margin: 10px 10px 0 10px;
    }
}

.update-btn {
   margin-top:10px;
   background: rgba(0,0,0,0.4);
   color: #fff;
   text-transform: uppercase;
   font-size: 0.8em;
   cursor: pointer;
    overflow: hidden;
   &:hover {
    background: rgba(0,0,0,0.5);
   }
}