<div fxLayout="row wrap">
    <mat-card fxFlex="200px" class="table-card"
    (click)="updateTableDialog(table)"
    [style.backgroundColor]="table.status === 'served' && 'rgba(0,100,0,0.5)'"
    [style.backgroundColor]="table.status === 'occupied' && 'rgba(128,0,0,0.5)'"

    *ngFor="let table of tablesData" fxLayout="column">
    <div fxFlex="60" fxLayout="column" fxLayoutAlign="center center">
         <div fxFlex style="padding-top:10px;font-size: 1.5em;font-weight: bold">
               #{{table.number}}
             </div>
          <div fxFlex>
             {{table.status | uppercase}}
          </div>
    </div>
       <div fxFlex fxLayoutAlign="center center" class="update-btn">
        open
       </div>
      </mat-card>
</div>

<!-- [style.backgroundColor]="table.status === 'empty' && 'rgba(127,255,0,0.6)'" -->