<mat-toolbar class="top-header" fxLayout="row" fxLayoutAlign="none center">
    <div fxLayoutAlign="start center" fxLayoutGap="25px">
        <div fxFlex>
            <button mat-button style="min-width:1%;color:#283847">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <div fxFlex fxLayout="column" class="staff-info-title">
                <span fxFlex style="font-weight:bold;margin-bottom:-10px;margin-top:5px">JAN KOWALSKI</span>
                <small fxFlex style="color: darkgreen;margin-top:-5px!important">online</small>
        </div>
    </div>
    <ul class="top-right-links" fxFlex fxLayoutGap="15px" fxLayoutAlign="end center">
        <li fxLayoutAlign="none center">
            <mat-icon>person</mat-icon>
        </li>
        <li fxLayoutAlign="none center">
            <mat-icon matBadge="3" matBadgeColor="warn">notifications</mat-icon>
        </li>
        <li (click)="logout()" fxLayoutAlign="none center">
            <mat-icon>exit_to_app</mat-icon>
            LOG OUT
        </li>
    </ul>
</mat-toolbar>
<mat-toolbar class="bottom-header">
    <div fxLayout="column" fxLayoutGap="25px">
            <div fxFlex fxLayoutAlign="none center">
                    <app-breadcrumb></app-breadcrumb>
            </div>
    </div>
</mat-toolbar>