  <div class="dialog-content" fxLayout="row">
    <div fxFlex="50" fxLayout="column" class="update-column">
        <span class="dialog-title">
            UPDATE TABLE #{{data.table.number}}
          </span>
        <mat-form-field appearance="outline">
            <mat-label>STATUS</mat-label>
            <mat-select [(ngModel)]="newStatusOfTable" (ngModelChange)="onStatusChange($event)">
              <mat-option value="0">Empty</mat-option>
              <mat-option value="1">Occupied</mat-option>
              <mat-option value="2">Served</mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-stroked-button style="margin-top: 15px" color="primary" (click)="addFormVisible = !addFormVisible">
              <span *ngIf="!addFormVisible" fxLayoutAlign="center center">
                  <mat-icon style="padding-right:10px">add</mat-icon>
                  <span>ADD ITEM</span>
                </span>
          <span *ngIf="addFormVisible" fxLayoutAlign="center center">
            <mat-icon style="padding-right:10px" color="warn">close</mat-icon>
            <span style="color: firebrick">CLOSE</span>
          </span>
          </button>
          <form #addForm *ngIf="addFormVisible" style="width: 100%" fxLayout="row">
              <mat-form-field fxFlex appearance="outline">
                  <mat-label>Dish</mat-label>
                <input matInput placeholder="Lasagne" aria-label="Dish" [matAutocomplete]="auto" [formControl]="dishCtrl">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let dish of filteredDishes | async" [value]="dish.name">
                    <span>{{dish.name}}</span> |
                    <small>Price: {{dish.price}}</small>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <button mat-raised-button style="margin-left: 10px; margin-top:8px" color="primary"><mat-icon>check</mat-icon></button>
            </form>
    </div>
    <div fxFlex="50" fxLayout="column" class="receipt-column">
        <span class="dialog-title">
            SUMMARY
          </span>
        <mat-paginator [pageSizeOptions]="[4, 8, 10, 15]" [pageSize]="4"></mat-paginator>
        <table mat-table [dataSource]="receiptDataSource">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let item"> {{item.name}} </td>
              <td mat-footer-cell *matFooterCellDef> Total </td>
            </ng-container>
            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef> Bill </th>
              <td mat-cell *matCellDef="let item"> {{item.bill | currency}} </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let item">
                  <div fxLayoutAlign="end center">
                      <button mat-icon-button color="warn"><mat-icon>close</mat-icon></button>
                  </div>
                    
                </td>
                <td mat-footer-cell *matFooterCellDef> {{ getTotal() | currency }} </td>
              </ng-container>
        
            <tr mat-row *matRowDef="let row; columns: receiptDisplayedColumns;"></tr>
            <tr mat-footer-row *matFooterRowDef="receiptDisplayedColumns; sticky: true"></tr>
          </table>
    </div>
  </div>
  <div mat-dialog-actions fxLayoutAlign="end none" fxLayoutGap="10px">
    <button color="warn" mat-button (click)="onCancel()">Cancel</button>
    <button color="primary" mat-dialog-close mat-raised-button>Confirm</button>
  </div>